*{
	box-sizing: border-box;	
	margin: 0;
	padding: 0;
}

.container{
	display: grid;
	height: 30vh;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 1fr;
	grid-template-areas: 
		"h1 h1 h1"
		"chicken beef sushi";
	grid-gap: 0.1rem;
	
}

.container h1{
	font-family: Arial;
	color: #0000FF;
	text-align: center;
	margin-top:1%;
	margin-bottom: 2%;
	grid-area: h1;
}

#chicken{
	background-color: #DCDCDC;
	box-sizing: border-box;
	border:3px solid #00008B;
	margin-right: auto;
	margin-left: auto;
	font-family: Helvetica;
	padding: 2% 2% 3% 1%;
  	bottom: 2%;
  	margin-top: 5%;	
	width: 80%;
	grid-area: chicken;
}

#chicken h2{
	text-align: right;
	background-color: #FFC0CB;
	color: #FFFFAF0;
	border:1px solid #000000;
	float: right;
	position-right: absolute;
	padding-top: 0%;
}

#beef{
	background-color: #DCDCDC;
	box-sizing: border-box;
	border:3px solid #00008B;
	margin-right: auto;
	margin-left: auto;
	font-family: Helvetica;
	padding: 2% 2% 3% 1%;
  	bottom: 2%;
  	margin-top: 5%;	
	width: 80%;
	grid-area: beef;
}

#beef h2{
	text-align: right;
	background-color: #B22222;
	color: #FFFFAF0;
	border:1px solid #000000;
	float: right;
	position-right: absolute;
	padding-top: 0%;
}

#sushi{
	background-color: #DCDCDC;
	box-sizing: border-box;
	border:3px solid #00008B;
	margin-right: auto;
	margin-left: auto;
	font-family: Helvetica;
	padding: 2% 2% 3% 1%;
  	bottom: 2%;
  	margin-top: 5%;	
	width: 80%;
	grid-area: sushi;
}

#sushi h2{
	text-align: right;
	background-color: #FFD700;
	color: #FFFFAF0;
	border:1px solid #000000;
	float: right;
	position-right: absolute;
	padding-top: 0%;
}

@media screen and (max-width:767px) {
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
			"h1"
			"chicken"
			"beef"
			"sushi";
}
}

@media screen and (min-width: 768px) and (max-width:991px) {
	.container{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			"h1 h1"
			"chicken beef"
			"sushi sushi";
}
}